/* =============
    hero-2
============= */

#hero-2 {
    img {
        max-width: 100%;
    }
} 

/* #hero-2 {
    #hero-2-1 {
        img {
            max-width: 100%;
        }
    }
    #hero-2-2 {
        img {
            max-width: 100%;
        }
    }
    #hero-2-3 {
        img {
            display: none;
        }
    }
} */


