/* =============
    hero
============= */

#hero {
    >div {
        img {
            /*max-width: 100%;*/ 
            display: block;
            width: 100%
        }
    }
}

@include md {
    #hero {
        display: grid;
        grid-template-areas: "hero-item hero-location";
        grid-template-columns: auto auto;  
        
        li {
            #hero-item {
                grid-area: hero;
            }
        }
        li {
            #hero-location {
                grid-area: hero;
            }
        }
    }
}    

@include lg {
    #hero-item{
        display: grid;
        grid-template-areas: "hero-item hero-item";
        grid-template-columns: 50% 50%;
    }    
    .hero-left{
        grid-area: display;
    }
    .hero-left{
        grid-area: display;
    }
}