/* =============
    New
============= */

/* #new {
    ul {
        li{
            img{
                max-width: 100%;
            }
        }
    }
    section {
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". new-content .";
    }
}
*/

#new {
    >div {
        ul {
            display: grid;
            gap: 16px;
        }
    }
}

@include md {
    #new {
            display: grid;
            grid-template-areas: "new new";
            grid-template-columns: repeat(2, 1fr);

            >div {
                #new-gallery-1 {
                    grid-area: new;
                }  
                #new-gallery-2 {
                    grid-area: new;
                } 
                #new-gallery-3 {
                    grid-area: new;
                } 
                #new-gallery-4 {
                    grid-area: new;
                } 
                #new-gallery-5 {
                    grid-area: new;
                }   
            }


    }
}

@include md {
    #new {
            display: grid;
            grid-template-areas: "new new new";
            grid-template-columns: repeat(3, 1fr);

            >div {
                #new-gallery-1 {
                    grid-area: new;
                }  
                #new-gallery-2 {
                    grid-area: new;
                } 
                #new-gallery-3 {
                    grid-area: new;
                } 
                #new-gallery-4 {
                    grid-area: new;
                } 
                #new-gallery-5 {
                    grid-area: new;
                }   
            }


    }
}