/* =============
    Planning
============= */

#planning {
    h1{
        font-family: 'Archivo Black', sans-serif;
    }

    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". planning .";

    .lessons {
        background-color: #551614;
        color: white;
        margin: 20px 0px;
        padding: 20px 20px;
    } 

    @include xl{
        grid-template-columns: auto 1000px auto;
    }
    >div{
        grid-area: planning;

        ul{
            @include md{
                display: grid;
                grid-template-columns: 50% auto;
                gap: 16px;
            }
            li{

            }
        }
    }
}

